<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<h1 class="text-center"> Github User Data </h1>
  <div class="col-lg-12">
      <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
        }    
      </style>


      <div class="container text-center">
          <form class="form-signin" id="login_form" method="post" action="/misc/profile/">
            
            {% csrf_token %}
            

            <br>
            <input type="text" name="user" class="form-control" placeholder="Github User Name, e.g: DrkSephy" value="" required autofocus>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Get Data</button>
          </form>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
              <tr>
                <th class="header"> Date <i class="icon-sort"></i></th>
                <th class="header"> Comman Name <i class="icon-sort"></i></th>
                <th class="header"> Scientific Name <i class="icon-sort"></i></th>
                <th class="header"> Hotspot <i class="icon-sort"></i></th>
                <th class="header"> Count <i class="icon-sort"></i></th>
                <!--<th class="header"> obsValid <i class="icon-sort"></i></th>
                <th class="header"> locationPrivate <i class="icon-sort"></i></th>
                <th class="header"> obsReviewed <i class="icon-sort"></i></th>
                <th class="header"> lat <i class="icon-sort"></i></th>
                <th class="header"> lng <i class="icon-sort"></i></th>
                <th class="header"> locID <i class="icon-sort"></i></th>-->
              </tr>
          </thead>
          <tbody>
          {% for key in data %}
              <tr>
                  <td>{{ key.obsDt }}</td>
                  <td>{{ key.comName }}</td>
                  <td>{{ key.sciName }}</td>
                  <td>{{ key.locName }}</td>
                  <td>{{ key.howMany }}</td>
                 <!-- <td>{{ key.obsValid }}</td>
                  <td>{{ key.locationPrivate }}</td>
    
                  <td>{{ key.obsReviewed }}</td> 
                  <td>{{ key.lat }}</td>
                  <td>{{ key.lng }}</td>
                  <td>{{ key.locID }}</td> -->
              </tr>
          {% endfor %}
          
          
          </tbody>
          </table>
      </div>
    </div>
</body>
</html>